@import "tailwindcss";

@theme inline {
  --color-aubergine: #1E0B2E;
  --color-gold: #F5B301;
  --color-pink: #E5197A;
  --color-cyan: #16BDCA;
  --color-cream: #FFFDF9;
  
  --font-sans: var(--font-sarabun);
  --font-display: var(--font-kanit);
  
  --animate-bounce-slow: bounce-slow 3s infinite;
  
  @keyframes bounce-slow {
    0%, 100% {
      transform: translateY(-5%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

@utility drop-shadow-glow {
  filter: drop-shadow(0 0 10px rgba(245, 179, 1, 0.6));
}


body {
  background-color: var(--color-aubergine);
  color: #ffffff;
}
